<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <title><%= title %></title>
</head>
<body>
    <form action="/animals" method="POST">
    <input type="text" name="name" placeholder="Enter Name" required>
    <br><h1><%= message %></h1>
    <br><br><img src="<%= image %>"/>
    <br><button id="adopt" type="submit">Adopt Me</button>
    </form>
    <br>
    <form action="/animals/download" method="GET">
        <button id="download" type="submit">Click Here to Download My Photo</button>
    </form>


</body>
</html>